<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Peeps</title>
</head>
<body>
<ul>
    {{$x := .Nama}}
    {{$y := .Zodiak}}
    {{$z := .Umur}}
    <li>{{$x}} - {{$y}} - {{$z}} tahun</li>
</ul>
</body>
</html>